body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(181, 219, 203);
  }
  .voltar {
    width: 3%;
    background-color: white;
    border-radius: 100%;
    margin: 15px;
    margin-top: -5px;
    position: absolute;
  }
  .Logo {
    justify-content: center;
    margin-top: 1%;
  }
  .Logo strong {
    font-size: 400%;
  }
  .logo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: white;
  }
  .name-logo {
    position: relative;
    top: -45px;
  }
  .Cadastro {
    margin-top: 2%;
    background-color: white;
    border-radius: 10%;
    font-size: larger;
    justify-content: center;
    display: inline-block;
    padding: 10px;
  }
  .Cadastro strong {
    font-size: 50px;
  }
  .Cadastro input {
    border-radius: 50px;
    width: 600px;
    height: 60px;
    border-color: black;
    border-style: solid;
    font-size: larger;
    margin: 20px;
    padding-left: 10px;
  }
  .Cadastro button {
    background-color: #bde4d1;
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    border: transparent;
    font-size: larger;
    margin: 30px;
    margin-right: 30%;
    cursor: pointer;
  }
  .Cadastro button:hover {
    background-color: #acf8d3;
  }
  .Cadastro a {
    font-size: smaller;
    color: gray;
  }
  footer {
    margin-top: 3%;
    background-color: #1b1b1b;
    color: white;
    padding: 40px 60px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-section {
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
  }
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .footer-section p {
    margin: 6px 0;
    font-size: 14px;
    color: #fff;
  }
  .footer-logo {
    width: 40px;
    margin-bottom: 10px;
  }
  .logo-desc h3 {
    margin: 10px 0 10px;
  }
  .logo-desc p {
    font-size: 14px;
    max-width: 300px;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .social-icons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
  }